@model POS_2._0.Web.Models.Item

@{
    ViewData["Title"] = "Create";
}
<br />
<h1>Create</h1>
<h4>Add Item</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Merchant Name</label>
                <input asp-for="MerchantName" class="form-control" />
                <span asp-validation-for="MerchantName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Merchant Mobile</label>
                <input asp-for="MerchantMobile" class="form-control" />
                <span asp-validation-for="MerchantMobile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Item Category</label>
                <select data-live-search="true" asp-for="ItemCategoryId" class="form-control selectpicker" asp-items="ViewBag.ItemCategory"></select>
                <span asp-validation-for="ItemCategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a class="btn btn-danger" asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
